.App {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 0.5fr 1.8fr 2fr;
  grid-template-areas: 
  'header'
  'graph'
  'table';
}

.header-container {
  grid-area: header;
}

.graph-container {
  grid-area: graph;
  display: grid;
  margin: 0px 25px;
  grid-gap: 20px;
  grid-template-columns: 1.1fr 1.1fr 0.8fr 1fr;
  grid-template-areas: 'chart1 chart2 graph graph';
}

.pie-chart1 {
  grid-area: chart1;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

.pie-chart2 {
  grid-area: chart2;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

.graph {
  grid-area: graph;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

.table-container {
  grid-area: table;
  grid-gap: 20px;
  display: grid;
  margin: 0px 25px;
  grid-template-columns: 1.2fr 0.8fr 1fr 1fr;
  grid-template-areas: 'calendar table table table';
  margin-bottom: 30px !important;
}

.calendar {
  grid-area: calendar;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
}

.table {
  grid-area: table;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 0px;
}

@media only screen and (max-width: 550px){
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      'header'
      'chart1'
      'chart2'
      'graph'
      'calendar'
      'table'
    ;
  }
}