.App {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 0.5fr 2.5fr 2.5fr;
  grid-template-areas: 
  'header'
  'graph'
  'table';
}

.header-container {
  grid-area: header;
}

.graph-container {
  grid-area: graph;
  display: grid;
  margin: 0px 25px;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas: 'chart1 chart2 graph graph';
}

.pie-chart1 {
  grid-area: chart1;
  background-color: aquamarine;
}

.pie-chart2 {
  grid-area: chart2;
  background-color: cadetblue;
}

.graph {
  grid-area: graph;
  background-color: coral;
}

.table-container {
  grid-area: table;
  grid-gap: 20px;
  display: grid;
  margin: 0px 25px;
  grid-template-columns: 1.2fr 0.8fr 1fr 1fr;
  grid-template-areas: 'calendar table table table';
}

.calendar {
  grid-area: calendar;
}

.table {
  grid-area: table;
}