@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;400;500&family=Montserrat:ital,wght@0,100;0,400;0,500;1,300;1,400;1,500&display=swap');

* {
  margin: unset;
  box-sizing: border-box;
}

html {
    block-size: 100%;
    inline-size: 100%;
  }

body {
    font-family: 'Montserrat', sans-serif;
}